@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .iphone6781row0 {
    display: flex;
    margin-left: 100px;
    margin-top: 81px;
    width: 256px;
    height: 213px;
    align-items: center
  }
  .style0,
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 183px;
    height: 197px
  }
  .style1 {
    margin-left: 5px;
    width: 68px;
    height: 100%
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .iphone6781row0 {
    display: flex;
    margin-left: 205px;
    margin-top: 166px;
    width: 524px;
    height: 436px;
    align-items: center
  }
  .style0,
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 375px;
    height: 403px
  }
  .style1 {
    margin-left: 10px;
    width: 139px;
    height: 100%
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .iphone6781row0 {
    display: flex;
    margin-left: 245px;
    margin-top: 199px;
    width: 628px;
    height: 523px;
    align-items: center
  }
  .style0,
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 449px;
    height: 483px
  }
  .style1 {
    margin-left: 12px;
    width: 167px;
    height: 100%
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .iphone6781row0 {
    display: flex;
    margin-left: 320px;
    margin-top: 259px;
    width: 819px;
    height: 682px;
    align-items: center
  }
  .style0,
  .style1 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 586px;
    height: 630px
  }
  .style1 {
    margin-left: 16px;
    width: 218px;
    height: 100%
  }
}